<h1>Carro de compras</h1>
<div class="row col-10">
  <p>
    Tienes 0 productos en el carro de compras.
    <button class="btn btn-light btn-sm">Remover productos del carro</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Cantidad</th>
        <th class="text-right">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>IMAGEN</div>
        </td>
        <td>
          Producto
        </td>
        <td>
          Cantidad
        </td>
        <td class="text-right">
          PrecioxCantidad
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total de compra</th>
      </tr>
    </tfoot>
  </table>
  <button class="btn btn-primary">Comprar</button>
</div>